/* stylesheet.css */

/*Page changes*/
* {
  margin: 0;
  padding: 0;

}
a {
  text-decoration: none;
  color: black;
}

#full-page {
  margin:0px;
  padding: 0px;
}
/*Div changes*/
.container {
  min-width: 100%;
  margin: 0px;
  padding: 0;
  float: left;
}

#header {
/*background-color: #303030;*/
/* ADD ABSOLUTE POSITION*/
width: 100%;
margin: 0px;
min-height: 75px;
background-color: #303030;
}
#subhead {
  width: 100%;
  margin: 1px 0 0 0;
  min-height: 25px;
  background-color: white;
  font-size: 13px;
}
#menu {

  flex-basis: 30px;
  min-height: 75px;
  height: 75px;
}

#menu-bbpic {
  background-color: #33b1f0;
  width: 70px;
}

.bbpic {
  position: relative;
  top: 5px;
  left: 5px;
  background-position: 0 0;
  background-size: 124px 86px;
  width: 65px;
  height: 69px;
  display: block !important;


}
.menu-center {
  text-align: center;
  vertical-align: center;
  line-height: 75px;
}
.menu-item {

  height: 75px;
  position: relative;
}

.inline {
  position:relative;
  display: inline;
  height: 75px;
}
li {
  position: relative;
  display: inline;
  margin: 12px;
  top: 25px;
  color: white;
  font-family: Helvetica;
}

.menu-position {
  text-align: left;

}
#sfield {
  position: relative;
  top: 25px;



}
#buttons {
  position: relative;
  left:150px;
  width: 200px;
}

button {
  display: inline;
  background-color: #303030;
  border: none;
}

#prof {
  background-image: url(../img/prof.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-left: 7px;
}
#cart {
  background-image: url(../img/cart.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 35px;
  height: 35px;
}
.blink {
  color: #428bca;
  text-decoration: none;
}

#location img {
  margin-top: 2px;
  padding-right:5px;
}

#img-slide {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 315px;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.line-pic {
  position: relative;
  height: 82px;
  width: 105px;
  left: 10px;
  top: -48px;
  overflow: visible;
  float: right;
}

.sect1-items {
  position: relative;
  height: 70px;
  top: 10px;
  border-radius: 5px;
  background-color: #e1e1e1;
  margin-right: 70px;
}


.postlabel {
  font-weight: bold;
}

#section1 {
  position: relative;
  top:25px;
}

.icon {
  height: 24px;
  width: 24px;

}
.ads {
  position: relative;
  color: gray;
  left: 95px;
  font-size: 12px;
}
.line-head {
  height: 20px;
}

.triple {
  position: relative;
  top: 50px;
  left: 100px;
  margin-right: 40px;
}
.discount {
  position: absolute;
  top: 130px;
  color:green;
}

.shift {
  position: relative;
  top: 50px;
}

.triple p {
  position: absolute;
  top: 150px;
}

.triple img {
  position: relative;
  left: 50px;
}

.border {
  border: 1px solid #e1e1e1;
}

.genders {
  position: relative;

  left: 150px;
  height:200px;
  width: 300px;
}

.fit-t {
  border-right: 1px solid #e1e1e1;
}

.img-bg {
  height:825px;
  background-repeat: no-repeat;

}
.bottom-left {
  padding-left: 15px;
  margin:0px;
  width: 890px;
  height: 165px;
  position: relative;
  left:-15px;
  top:335px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.separate {
  height: 40px;
}
.recommended img {
  height: 68px;
  width: 121px;
  padding: 0px;
  margin:0px;
}
.recommended {
  position: relative;
  top: -80px;
  height:120px;
  width: 326px;
  margin-bottom: -100px;



}
.recommended div {
  height: 80px;
}

.rec-text {
  left: 25px;
}

.triple-img {
  height: 156px;
  width: 276px;
}

.nut-img {
  background-image: url(../img/nutrition.jpg);

}

.work-img {
  background-image: url(../img/arms.jpg);

}
